@model Banner
<div id="titlebar" class="gradient">
    <div class="title-bar-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.Title</h2>
                    <span>@Model.SubTitle</span>
                     Breadcrumbs 
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="@Model.Page" asp-action="Index">@Model.Page</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="title-overlay"></div>
</div>